bin/Debug/net8.0/EventCardCopilotApp.dll
bin/Debug/net8.0/EventCardCopilotApp.exe
bin/Debug/net8.0/EventCardCopilotApp.pdb
obj/Debug/net8.0/apphost.exe
obj/Debug/net8.0/EventCardCopilotApp.AssemblyInfo.cs
obj/Debug/net8.0/EventCardCopilotApp.AssemblyInfoInputs.cache
obj/Debug/net8.0/EventCardCopilotApp.dll
obj/Debug/net8.0/EventCardCopilotApp.pdb
obj/Debug/net8.0/EventCardCopilotApp.sourcelink.json
obj/Debug/net8.0/ref/EventCardCopilotApp.dll
obj/Debug/net8.0/refint/EventCardCopilotApp.dll
