 
<br><br><br><br><br><br><br><br><br><br><br><br>
<h3>Membership Icons</h3>
<br><br><br><br><br><br><br><br>
<div class="icon-avatar icon-home"></div>
<div class="icon-avatar icon-settings"></div>
<div class="icon-avatar icon-user"></div>
<div class="chip">
  <div class="icon-avatar icon-home"></div>
  John Doe
</div>

<br><br><br>
 
      <table>
        <tr>
          <td>
                <div class="chip">
                        <img src="/avatar/img_avatar.png" alt="Person" width="96" height="96">
                        John Doe
                </div>
            </td>
        </tr>
        <tr>
          <td>
                <div class="chip">
                    <img src="/avatar/img_avatar2.png" alt="Person" width="96" height="96">
                    John Doe
                </div>
          </td>
        </tr>
        <tr>
          <td>
                <div class="chip">
                    <img src="/avatar/avatar2.png" alt="Person" width="96" height="96">
                    John Doe
                </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="chip">
                    <img src="/avatar/avatar5.png" alt="Person" width="96" height="96">
                    John Doe
                </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="chip">
                    <img src="/avatar/avatar6.png" alt="Person" width="96" height="96">
                    John Doe
                </div>
          </td>
        </tr>
      </table> 